@font-face{
font-family: "Dancing Script";
src:url(fuentes/dancing-script/DancingScript-Regular.otf);
}
*{
	font-family: "Dancing Script";

}
#contenido{
	text-align: center;
	position: center;
}
@media (max-width: 720px){
	#contenido{
		width: 900px;
	}
}
@media (min-width: 420px){
	#contenido{
		width: 100%;
	}
}



img{
	box-shadow: 2px 2px 2px 2px #02010a;
}

body{
	padding: 1%;
}
header{
	background-color: #5b7989;
border-radius:10px;
}
#NombreDelSitio{
	color: white;
	text-align: left;
	text-shadow: 2px 2px 2px #02010a;
}
#menu{

text-align: right;
display:block;
}
#menu ul{
	list-style: none;
}
nav ul li a{
	text-decoration: none;
}
.ImagenCentral{
	position: center;
	background-color: #82c3a6;
	padding: 20px;
	width: 90%;
	height: 20%;
	display: block;
}
.imagenSecundaria{
	padding: 50px;
	width: 35%;
	height: 20%;
	background-color: #d5c75f ;
	border-image:1px;
}
#Paisajes:hover{
transform: rotate(10deg);
box-shadow: 2px 2px 2px 2px #82c3a6;
border-image: 2px; 
}
#Retratos:hover{
transform: translateY(5px);
transform:translateX(20px);
box-shadow: #82c3a6;
border-image: 2px;
}
footer{
	border-radius: 10px;
	background: #C6d5c5;
}
footer a{
text-decoration: none;
}

}
@media (max-width: 420px){
	footer table tr td{
		display:block;


	}
}
@media (max-width: 720px){
	footer table tr td{
		display: flex;

	}
}