body{
	padding: 1%;
}
header{
	background-color: #5b7989;
border-radius:10px;
}
#NombreDelSitio{
	color: white;
	text-align: left;
	text-shadow: 2px 2px 2px #02010a;
}
#menu{
text-decoration: none;
text-align: right;
display:block;
}
#menu ul{
	list-style: none;
}
.ImagenCentral{
	position: center;
	background-color: #82c3a6;
	padding: 50px;
	width: 40%;
	height: 20%;
}
.imagenSecundariaIzq{

	padding: 50px;
	width: 20%;
	height: 20%;
	background-color: black;
}

