*{
	font-family: "Dancing Script";
	background-color: black;
	color: #fff;
}

h1{
	color: white;
	text-align: justify;
	text-shadow: 2px 2px 2px #FFF;
	color: #fff;
	}


@media(min-width: 420px){
	img {
		display: inline-block;
		padding: 10px;
		width: 300px;
		height: 200px;
	}
}
@media (max-width: 720px){

	img{
	display: block;
		padding: 10px;
		width: 300px;
		height: 200px;	
	}
}
.imagen1{
	filter: blur(10px);
	border-radius: 10px;
}
.imagenPares{
	filter: grayscale(100%);
}
.imagen3{
	filter: sepia(90%);
}
footer{
	background-color: #c6d5c5;
	border-radius: 10px;

}
