@font-face{
font-family: "Dancing Script";
src:url(fuentes/dancing-script/DancingScript-Regular.otf);
}
*{
	font-family: 'Dancing Script', cursive;
	background-color: #5b7989;
	color:#fff;
}

h1{
	color: white;
	text-align: justify;
	text-shadow: 2px 2px 2px #FFF;
	color: #fff;
	}
body{
	background-color: 
}

@media(min-width: 420px){
	img {
		display: inline-block;
		padding: 10px;
		width: 300px;
		height: 200px;
		background-color: #5b7989;
	}
}
@media (max-width: 720px){

	img{
	display: block;
		padding: 10px;
		width: 300px;
		height: 200px;	
	}
}
.imagen1{
	filter: blur(10px);
	border-radius: 10px;
}
.imagenPares{
	filter: grayscale(100%);
}
.imagen3{
	filter: sepia(90%);
}
footer table{
	border-radius: 10px;
	background-color: #5b7989;
}
footer table tr {
	background-color: #5b7989;
}

footer table tr td{
	background-color: #5b7989;
}